/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
Cinza Escuro: #333333
Cinza Claro: #F4F4F4
Azul Marinho: #2C3E50
Azul Claro: #3498DB
*/
main.a{
background-color:#2C3E50;
}