@charset "utf-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #8CBEB2,#F2EBBF);
}
main{
    background-color: #F2EBBF;
    border-radius: 10px;

    box-shadow: 5px,5px,15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#449991;
    text-align: center;
    text-shadow: 1px,1px,2px #22524d;

}
h2{
    color:#573544 ;
}
p{
    text-align: center;
}